In [30]:
import pandas as pd
import os, glob

PATH = os.getcwd()
int_ph = ['Chordata','Arthropoda','Echinodermata', 'Mollusca', 'Cnidaria', 'Nematoda']
int_ph = [i  + '_prob.csv' for i in int_ph]
df_list = []

In [49]:
c = 0
for i in glob.glob(os.path.join(PATH, '*.csv')):
    name = os.path.split(i)[-1]
    if name in int_ph:
        name = name.replace('_prob.csv', '')
        temp = pd.read_csv(os.path.join(PATH, i)).rename({'Unnamed: 0':'gene_1'}, axis = 1)
        temp = test.melt(id_vars='gene_1', var_name = 'gene_2', value_name = name)
        temp = temp.sort_values(by = 'gene_1')
        if c == 0:
            agg_temp = temp.copy()
        else:
            agg_temp = pd.concat([agg_temp, temp[[name]]], axis = 1)
        c += 1
display(agg_temp.head())

     gene_1 gene_2  Arthropoda
1021   atp6   trnR    0.000541
1161   atp6   trnD    0.000000
286    atp6   trnQ    0.000000
461    atp6   trnT    0.000360
881    atp6   cox1    0.000000
     gene_1 gene_2  Chordata
1021   atp6   trnR  0.000541
1161   atp6   trnD  0.000000
286    atp6   trnQ  0.000000
461    atp6   trnT  0.000360
881    atp6   cox1  0.000000
     gene_1 gene_2  Cnidaria
1021   atp6   trnR  0.000541
1161   atp6   trnD  0.000000
286    atp6   trnQ  0.000000
461    atp6   trnT  0.000360
881    atp6   cox1  0.000000
     gene_1 gene_2  Echinodermata
1021   atp6   trnR       0.000541
1161   atp6   trnD       0.000000
286    atp6   trnQ       0.000000
461    atp6   trnT       0.000360
881    atp6   cox1       0.000000
     gene_1 gene_2  Mollusca
1021   atp6   trnR  0.000541
1161   atp6   trnD  0.000000
286    atp6   trnQ  0.000000
461    atp6   trnT  0.000360
881    atp6   cox1  0.000000
     gene_1 gene_2  Nematoda
1021   atp6   trnR  0.000541
1161   atp6   trnD  0.000000
286    atp6   trnQ  0.000000
461    atp6   trnT  0.000360
881    atp6   cox1  0.000000

,gene_1,gene_2,Arthropoda,Chordata,Cnidaria,Echinodermata,Mollusca,Nematoda
1021,atp6,trnR,0.000541,0.000541,0.000541,0.000541,0.000541,0.000541
1161,atp6,trnD,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
286,atp6,trnQ,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
461,atp6,trnT,0.000360,0.000360,0.000360,0.000360,0.000360,0.000360
881,atp6,cox1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [56]:
agg_temp.sample(5)

,gene_1,gene_2,Arthropoda,Chordata,Cnidaria,Echinodermata,Mollusca,Nematoda
674,rrnL,cox3,0.000180,0.000180,0.000180,0.000180,0.000180,0.000180
968,trnL,nad3,0.000541,0.000541,0.000541,0.000541,0.000541,0.000541
708,trnQ,nad1,0.012074,0.012074,0.012074,0.012074,0.012074,0.012074
413,trnY,trnF,0.000180,0.000180,0.000180,0.000180,0.000180,0.000180
599,trnP,rrnS,0.002703,0.002703,0.002703,0.002703,0.002703,0.002703

In [34]:
glob.glob(os.path.join(PATH, '*.csv'))

['C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Acanthocephala_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Annelida_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Arthropoda_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Brachiopoda_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Bryozoa_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Chaetognatha_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Chordata_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Cnidaria_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Ctenophora_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Echinodermata_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Entoprocta_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Gastrotricha_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Gnathostomulida_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Hemichordata_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Kinorhyncha_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Mollusca_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Nematoda_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Nematomorpha_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Nemertea_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Onychophora_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Phoronida_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Placozoa_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Platyhelminthes_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Porifera_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Priapulida_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Rotifera_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Tardigrada_prob.csv',
 'C:\\Users\\noam1\\Desktop\\Mitochondrial_Gene_comparision_project\\Mitochondrial-gene-order-project\\Gene_clusters\\prob_matrices\\Xenacoelomorpha_prob.csv']